.header{
    margin: 6rem 8rem;
    &__img{
        border-radius: 30%;
    }
    &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    &__text{
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
    &__email{
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 2rem;
        text-decoration: underline;
    }
}
.skills{
    margin: 6rem 8rem;

    &__header{
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 3rem;
        border-bottom: solid rgb(154, 113, 151);
    }
    &__section-header{
        font-weight: 600;
        font-size: 1.5rem;
        font-style: italic;
        line-height: 2.75rem;
        margin-right: 0.5rem;
    }
    &__list{
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 2.5rem;
        padding-top: 3rem;
    }
    &__box{
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: repeat(3, 16.75rem);
    }
    &__text{
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
}
.portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    &__box{
        background-color: $lightviolet;
        border-radius: 5%;
        padding: 0.5rem;
        width: calc(100% * (1/2) - 1rem);
        min-width: 18.75rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
    &__img{
        border-radius: 50%;
    }
    &__title{
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
    &__text{
        text-align: right;;
    }
}
.footer{
    padding: 6rem 8rem;
    background-color: $darkblue;
    color: whitesmoke;
    
    &__header{
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.75rem;
    }
    &__text{
        font-weight: 300;
        font-size: 20px;
        line-height: 36px;
    }
    &__email{
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 2rem;
        color: $yellow;
        transition: all .2s;
        &:hover{
            color: deepskyblue;
        }
    }
    &__img{
        border-radius: 50%;
        transition: all .2s;
        &:hover{
         transform: scale(1.2);
        }
    }
}
.inside-link{
    text-decoration: none;
    color: darkblue;
    transition: all .2s;
    &:hover{
        color: deepskyblue;
    }
}
.header__email{
    color: darkblue;
    transition: all .2s;
    &:hover{
        color: deepskyblue;
    }
}