.header{
    margin: 6rem 8rem;
    &__img{
        border-radius: 30%;
    }
    &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    &__text{
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
    &__email{
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 2rem;
        text-decoration: underline;
    }
}
.skills{
    margin: 6rem 8rem;
    &__header{
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 3rem;
        border-bottom: solid rgb(154, 113, 151);
    }
    &__section-header{
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.75rem;
    }
    &__list{
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 2.5rem;
    }
}