@media (max-width: 900px){
  .skills__list{
      line-height: 2rem;
  }
}
@media (max-width: 600px){
  body{
      border: 0rem;
  }
  .header {
    margin: 0.6rem 0.8rem;
    &__title {
      font-size: 1.5rem;
      line-height: 2.0rem;
    }
    &__text {
      font-size: 1.0rem;
      line-height: 1.5rem;
      }
  }
  .skills {
    margin: 0.6rem 0.8rem;

    &__box{
      display: inline-block;
    }
    &__list{
      padding-top: 0rem;
    }
  }
  .portfolio__box{
    min-width: 17.75rem;
  }
  .footer {
    padding: 0.6rem 0.8rem;
  }
}