@import "_normalize";
@import "_variables";
@import "_components";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $yellow;
  max-width: 90rem;
  margin: .5rem;
  border: .5rem solid #171F3F;
  box-sizing: border-box;
}