@import "_normalize";
@import "_variables";
@import "_components";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: block;
  background: $yellow;
  width: 1440 px;
  margin: 8px;
  border: 8px solid #171F3F;
  box-sizing: border-box;
}